:root {
    /* Fonts */
    --ff-montserrat-subrayada: 'Montserrat Subrayada', sans-serif;
    --ff-proza-libre: 'Proza Libre', sans-serif;
    --ff-ubuntu: 'Ubuntu', sans-serif;

    /* Colors */

    --colorText-white: hsla(0, 0%, 100%, 1);
    --colorText-green: hsla(135, 63%, 39%, 1);
    --colorText-yellow: hsla(32, 100%, 49%, 1);
    --colorBG-green: hsla(135, 63%, 39%, 1);
    --colorBG-yellow: hsla(32, 100%, 49%, 1);
    --colorBG-darkStone: hsla(243, 100%, 13%, 0.5);
    --colorBG-gradient: linear-gradient(
                        -45deg, 
                        hsla(157, 100%, 19%, 0.94) 0%, 
                        hsla(223, 97%, 26%, 0.95) 100%
                        );
}

/* RESET DEFAULT CSS SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: var(--ff-ubuntu);
    font-weight: 300;
}

body {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
    position: relative;
    color: var(--colorText-white);
}


/* CUSTOM CSS */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    width: 88%;
    max-width: 420px;
    height: 450px;
    background: var(--colorBG-gradient);
    margin: auto;
    padding: 3rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    border-radius: 10px;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

header.header {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .header-text-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    row-gap: 1rem;
}

/* Titles */

.subtitle, .title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--ff-proza-libre);
    letter-spacing: 0.15rem;
}

.title {
    font-family: var(--ff-montserrat-subrayada);
    line-height: 1.4;
    color: var(--colorBG-green);
}


header .icon-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .icon-container i {
    font-size: 6rem;
}


main.password-output-container {
    width: 100%;
    max-width: 280px;
    height: 38%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

button {
    font-family: var(--ff-proza-libre);
    font-size: 1.3rem;
    text-transform: uppercase;
    background: var(--colorBG-green);
    color: var(--colorText-white);
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: var(--colorBG-yellow);
}

button:active {
    background: var(--colorBG-green);
}

.toggle-btn-container {
    width: 60px;
    height: 100%;
    position: relative;
}

#switch-message {
    position: absolute;
    top: -22px;
    left: -2px;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: var(--colorBG-yellow);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 30px;
    top: 2px;
    left: 0;
    border-radius: 10px;
    background-color: var(--colorText-white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--colorBG-green);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--colorBG-green);
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}


#passwords {
    width: 100%;
    height: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1.2rem;
    border-top: 1px solid var(--colorText-green);
}

.password-results {
    background: var(--colorBG-darkStone);
    width: 100%;
    height: 25px;
    font-size: 1.6rem;
    border-radius: 5px;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    cursor: pointer;
}


/* SCREEN BREAKPOINTS/MEDIA QUERIES */

@media screen and (min-width: 360px) {
    .subtitle, .title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 700px;
        width: 88%;
        max-width: 700px;
        height: 500px;
        padding: 4rem 7rem;
        row-gap: 6rem;
    }   

    header.header {
        width: 100%;
        height: 35%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    header .header-text-container {
        width: 75%;
        height: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 1rem 0;
    }
    
    /* Titles */
    
    .subtitle, .title {
        font-size: 3.5rem;
    }
    
    header .icon-container {
        width: 25%;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    header .icon-container i {
        font-size: 12rem;
    }
    
    
    main.password-output-container {
        height: 40%;
        max-width: 100%;
        justify-content: stretch;
        align-items: stretch;
    }
    
    main .buttons-wrapper {
        width: 100%;
        height: 43%;
    }

    button {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        width: 260px;
        height: 40px;
    }

    .toggle-btn-container {
        width: 100px;
    }

    #switch-message {
        top: -25px;
        left: 0;
    }
    
    .switch {
        width: 100px;
        height: 36px;
    }
    
    .slider:before {
        height: 31.5px;
        width: 50px;
        top: 2px;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
    }
    
    #passwords {
        width: 100%;
        height: 57%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1.2rem;
    }
    
    .password-results {
        height: 40px;
        font-size: 1.8rem;
        line-height: 2;
    }
}